.cardio{

    background-color: #f7f5ff;
    
   

    
}
h2{
    
    width: 100px;
    background-color: yellow;
    font-size: 20px;
}
 
.descrição{
    
    background-color:#ffffff;
    height: 300px;
    width: 300px;

 }