


.cardio{

    background-color: #f7f5ff;
   

   
    
    
}
.desconto{
    
    width: 70px;
    background-color: yellow;
    font-size: 10px;
    border-radius: 20px;
}
 
.descrição{
    
    background-color:#ffffff;
    height: 300px;
    width: 300px;
    
    

    

 }