

.Cardflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f7f5ff;
}
.imgCard{
    height: 200p;
}
.cardio{

    background-color: #f7f5ff;
  padding-top: 20px;
    
}
.desconto{
    
    width: 70px;
    background-color: yellow;
    font-size: 10px;
    border-radius: 20px;
  

}
 
.descrição{
    
    background-color:#ffffff;
    height: 300px;

 }
