.barra_final {
  background-color: #1f1f1f;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  height: 45vh;
  padding-top: 5%;
}
.parte_01 {
  width: 35vh;
}
.logo {
  width: 28vh;
  height: 5vh;
}
.paragrafo_a01 {
  font-family: sans-serif;
  font-size: 1.5vh;
  font-weight: 400;
  color: #ffffff;
  line-height: 15px;
  margin-top: 7%;
  margin-bottom: 9%;
}
.img_f01 {
  width: 2vh;
  height: 2vh;
  margin-right: 4%;
}
.parte_02 {
  width: 20vh;
  display: flex;
  flex-direction: column;
}
.titulo_p2 {
  font-family: sans-serif;
  font-size: 1.8vh;
  font-family: 400;
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 9%;
}
.links {
  font-family: sans-serif;
  font-size: 1.5vh;
  font-family: 400;
  color: #ffffff;
  text-decoration: none;
  line-height: 26px;
}
.parte_03 {
  width: 25vh;
  display: flex;
  flex-direction: column;
}
.parte_04 {
  width: 30vh;
}
.paragrafo_p3 {
  font-family: sans-serif;
  font-size: 1.5vh;
  font-family: 400;
  color: #ffffff;
  line-height: 24px;
}
.final {
  background-color: #1f1f1f;
  padding-left: 5%;
  padding-right: 5%;
  height: 5vh;
}
.row {
  border: 0.5px solid #ffffff;
  color: #ffffff;
}
.p_final {
  font-family: sans-serif;
  font-size: 1.5vh;
  font-family: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 0.5%;
  margin-bottom: 2%;
}
